/* ------------------------------------------------------------------ */
/* About Section
/* ------------------------------------------------------------------ */

#about {
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #000; }
#about a:hover, #about a:focus { color: #ff8c00; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #000;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
   color: #fff;
}
#about .download .button:hover {
   background: #444;
   color: #ff8c00;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}

/* ---------------------------------------------------------------- */
/* Social Links
/* ---------------------------------------------------------------- */
.social {
   margin: 24px 0;
   padding: 0;
   font-size: 1.5 em;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
.social li a { color: #000; }
.social li a:hover { color: #FFA500; }

/* ---------------------------------------------------------------- */
/* Links
/* ---------------------------------------------------------------- */
a {
    color: #ff8c00;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #FF8c00;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */
.footer {
  color: #323232;
  padding: 0.7rem 1.5rem; }
  .footer .copyright {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem; }

@media screen and (min-width: 500px) {
  html {
    font-size: calc(15px + 7 * ((100vw - 500px) / 900)); } }
@media screen and (min-width: 1400px) {
  html {
    font-size: 22px; } }
@media (max-width: 480px) {
  .page-heading .page-title {
    font-size: 3.5rem;
    line-height: 1.2; }